PORT=3007
MONGO_URI=mongodb+srv://your_user:your_password@your_cluster.mongodb.net/carenet_db?appName=Cluster0
JWT_SECRET=your_jwt_secret_here
APPOINTMENT_SERVICE_URL=http://localhost:3004
JITSI_DOMAIN=meet.jit.si
JITSI_ENFORCE_JWT=false
NODE_ENV=development
