PORT=5003
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://hanaan:1234@cluster0.jxyoaqc.mongodb.net/?appName=Cluster0
# JWT
JWT_SECRET=your_jwt_secret_here

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret



# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
