PORT=8080
AUTH_SERVICE_URL=http://localhost:3001
NOTIFICATION_SERVICE_URL=http://localhost:3006
APPOINTMENT_SERVICE_URL=http://localhost:3004
PATIENT_SERVICE_URL=http://localhost:3002
DOCTOR_SERVICE_URL=http://localhost:3003
PAYMENT_SERVICE_URL=http://localhost:3005
TELEMEDICINE_SERVICE_URL=http://localhost:3007
SYMPTOM_SERVICE_URL=http://localhost:3008
